* {
  font-family: "Montserrat", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  /* text-align: center; */
  padding: 0;
  background: #aecce6;
}

/* larger than tablet view  */
@media (min-width: 768px) {
  .App {
    display: flex;
    flex-direction: row;
  }

  .App .container-fluid,
  .App .container {
    max-height: calc(100vh - 2em);
    overflow-y: auto;
    border-radius: 5px;
  }
}

.container-fluid {
  align-items: center;
}

.App .container-fluid,
.App .container {
  border-radius: 5px;
}

label {
  max-width: 100%;
}

textarea {
  width: 85vw;
  max-width: 100%;
  padding: 0.5em;
}

input:disabled {
  border: none;
  color: black;
}

/* ------Navbar--------  */
.NavigationBar {
  display: flex;
  flex-direction: row;
  height: 4em;
  min-height: fit-content;
  width: 100%;
  min-width: 100vw;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  margin-bottom: 1em;

  background-color: navy;
  color: whitesmoke;
  overflow-x: scroll;
  overflow-y: hidden;

  visibility: visible;
  opacity: 1;
}

/* larger than tablet view */
@media (min-width: 768px) {
  .NavigationBar {
    flex-direction: column;
    width: 4em;
    height: 100%;
    min-height: 100vh;
    min-width: fit-content;
    position: sticky;
    align-items: center;
    justify-content: flex-start;
    padding: 1em;
    margin-bottom: 0em;

    overflow-x: hidden;
  }
}

.NavigationBar.open {
  transition: visibility 0.5s, opacity 0.5s;
  opacity: 0;
  visibility: hidden;
}

.menu-bars {
  background: none;
}

.nav-menu {
  background: navy;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  padding: 0.5em 1em 1em 1em;
  transition: 850ms;
  visibility: hidden;
  z-index: 1;
}

.nav-menu.active {
  visibility: visible;
  left: 0;
  transition: 350ms;
  box-shadow: #10034da6 10px 0px 20px;
}

.nav-menu .react-icons {
  margin-right: 1em;
}

.nav-menu-items {
  width: 100%;
  padding-left: 0em;
}

.navbar-toggle {
  background: navy;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-text {
  color: white;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.nav-text a {
  color: white;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 1em;
}

.nav-text a:hover {
  background-color: teal;
}

.nav-text .nav-section,
.nav-tab {
  display: flex;
}

.subNav-drawer {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}

.drop-down {
  display: flex;
  align-items: center;
}

.drop-down:hover {
  background-color: cornflowerblue;
}

.drop-down .react-icons {
  margin-right: 0px;
}

.drop-down-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  text-decoration: none;
  background: #051747;
}

.drop-down-link a {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.25em;
  padding-left: 2em;
}

.drop-down-link a:hover {
  background-color: #5d9fe4;
  cursor: pointer;
}

/* ------Icons-------  */
.tray-icon {
  display: flex;
  padding: 1em;
}

.tray-icon:hover {
  background: teal;
}

.react-icons {
  color: white;
  width: 28px;
  height: 28px;
}

.react-icons.close {
  margin-right: 0;
}

/* -----Grades-------- */
.Grades .container {
  width: max-content;
  border: solid #aaaaaa 0.25px;
  padding: 1em;
  background: white;
}

.Grades .card-group,
.Grades .card {
  padding: 1em;
  flex-flow: column wrap;
}

.Grades .card {
  background: linear-gradient(189deg, #ececec, transparent);
}

.cardgroup-title {
  width: 100%;
}

/*------StageNav-------*/
.student-row {
  background: linear-gradient(90deg, #f0efeb, white);
  padding: 0.5em;
}

.student-row button {
  width: max-content;
  height: min-content;
}

/* ----Gradesheet Navigation----  */
.grade-nav-container.container {
  max-width: 100%;
  overflow-y: visible;
  padding-left: 0;
  padding-right: 0;
}

.nav-sheets-lk {
  max-width: min-content;
}

.nav-sheets-lk button {
  border: none;
  background: #f5f5f599;
  border-radius: 5px;
  box-shadow: #aca4a4 3px 3px 2px;
}

.nav-sheets-lk button:enabled:hover {
  background: teal;
  color: white;
  cursor: pointer;
}

.nav-sheets-lk button:disabled:hover {
  cursor: initial;
}

.nav-sheets {
  display: flex;
  align-items: center;
  margin: 0.1em;
}

.nav-sheets svg {
  font-size: 2rem;
}

.nav-sheets span {
  margin: 0em 0.25em;
}

/* ----Gradesheet-----  */

.Gradesheet-wrap.container-fluid {
  overflow-y: hidden;
}

.edit-controls {
  max-width: fit-content;
  padding: 0em 1em 0.5em 1em;
  /* border: 1px solid black; */
}

.btn-group {
  padding: 0em 0.25em;
}

.btn-group button {
  margin-right: 0.5em;
  border-radius: 5px;
  box-shadow: #aca4a4 3px 3px 2px;
}

.btn-group button:hover {
  background: #0097a7;
  color: whitesmoke;
  cursor: pointer;
}

.btn-group button:active {
  background: navy;
  color: white;
}

.btn-group button:focus {
  border: black solid 2px;
  font-weight: 500;
}

/* For smaller screens  */
@media (max-width: 576px) {
  .Gradesheet {
    width: calc(100vw - 2em);
    /* margin: 0em 1em; */
  }
}

.Gradesheet {
  background: linear-gradient(90deg, #f0efeb, white);
  padding: 0.5em;
}

.student-name {
  background-color: black;
  color: white;
  text-align: left;
  padding-left: 0.5em;
  font-size: 1.65rem;
}

.event-header-sect {
  background: #e7e0e0;
  padding-top: 0.5em;
}

.event-identifier {
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  border-bottom: 2px solid black;
}

.gradesheet-submission {
  display: flex;
  justify-content: space-between;
  padding: 0em 0.5em;
  flex-wrap: wrap;
}

.positive-status {
  background-color: lime;
}

.pending-status {
  background-color: orange;
}

.details-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em 0em;
  position: relative;
  box-shadow: grey 2px 2px 3px;
}

.toggle-dropdown {
  padding: 0;
}

.event-label {
  font-weight: 500;
}
.event-label div {
  font-weight: 400;
}

.option-label,
.option-label input {
  margin: 0em 0.25em;
}

.event-dropdown {
  position: absolute;
  right: 2em;
}
.details-body .row {
  background-color: #e7e0e0;
  margin: 0;
  text-align: left;
}

.event-details-section {
  display: flex;
  flex-direction: column;
}

.event-dropdown .toggle-dropdown {
  background: white;
  padding: 0em 0.45em;
  box-shadow: grey 1px 1px 3px;
  transition: background-color 0.25s;
}

.event-dropdown .toggle-dropdown:hover {
  background-color: #2525257d;
}

.event-dropdown .toggle-dropdown:active {
  background: #1a171770;
}

.gradesheet-details {
  margin-bottom: 1.5em;
}

.constrain-input {
  width: 250px;
  max-width: 95%;
}

/* Larger than tablet views */
@media (min-width: 576px) {
  .student-name {
    font-size: 1.75rem;
  }
  .event-identifier {
    text-align: left;
    font-size: 1.4rem;
    padding-left: 0.5em;
  }

  .constrain-input {
    width: 250px;
    max-width: 85%;
  }
  .event-details-section {
    display: grid;
    grid-template-areas: "a a";
    grid-auto-rows: 1fr 1fr;
  }
}

/* ------Maneuver-----  */
.maneuver {
  background: #7f7b824f;
  padding: 0.5em 0.5em;
  margin: 1em 0em;
}

.maneuver-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em 0em;
}

.maneuver-header.row {
  width: 100%;
  margin: 0;
}

.maneuver-grade {
  width: 100%;
}

.maneuver-header .toggle-dropdown {
  transition: background-color 0.25s;
}

.maneuver-header .toggle-dropdown:hover {
  background-color: grey;
}

.maneuver-body {
  background-color: #ebf1f0;
}

.toggle-maneuver:hover {
  background: cornflowerblue;
}

.pass-MIF {
  background: #6ad195ba;
  box-shadow: green 1px 1px 3px;
}

.below-MIF {
  border: 3.5px red inset;
  background: #d16a6aba;
}

.incomplete-maneuver {
  background: #f5ed20a8;
}

.not-required-maneuver {
  border: double 3px black;
}

.incomplete {
  border: 3.5px #d4c200 double;
}
